* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 84px;
}

.header_logo {
    height: 32px;
    text-decoration: none;
    color: rgb(130, 8, 244);
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
}

.movie_cover-inner {
    height: 360px;
}

.movie_cover {
    max-width: 100%;
    height: 100%;
}